# To collect Dataset

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("diabetes.csv")

In [5]:
df.head()          # To print 1st five row for the visualizaton of content of Dataframe.

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
df.shape

(768, 9)

In [7]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [8]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [9]:
df["Outcome"].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [10]:
df.groupby("Outcome").mean()            #   it will give mean value of all dependencies of Diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

# Separating the Data and label

In [11]:
x=df.drop(columns="Outcome",axis=1)       # Data
y=df["Outcome"]                           # Label

In [12]:
print(x)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [13]:
print(y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

# Data Standardization

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
scaler=StandardScaler()

In [16]:
scaler.fit(x)

StandardScaler()

In [17]:
standardized_data=scaler.transform(x) # it transform all the data in the specific range, we can use scaler.fit_transform(x) 
                                      #  in one line

In [18]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [19]:
standardized_data.shape

(768, 8)

In [20]:
x=standardized_data

In [21]:
print(x)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [22]:
print(y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

# Train Test Split the data

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.20,stratify=y,random_state=0)

In [25]:
print(x.shape,train_x.shape,train_y.shape,test_x.shape,test_y.shape)

(768, 8) (614, 8) (614,) (154, 8) (154,)

In [26]:
print(train_x)

[[ 0.93691372  2.35058677  1.08020025 ...  0.99091209 -0.06304891
   0.66020563]
 [-0.54791859 -1.24858494  0.14964075 ... -0.24020459  0.22688248
  -0.70119842]
 [-0.54791859  0.19108374 -0.57412775 ... -0.54481078  3.40706745
  -0.70119842]
 ...
 [-0.25095213 -1.2172878   0.04624525 ... -1.3824778  -0.25029627
  -0.70119842]
 [ 0.93691372 -0.56004775 -0.16054575 ...  0.90206862 -0.38620161
  -0.19067191]
 [-1.14185152  1.25518668 -0.98770975 ... -1.2809424  -0.65801229
   2.7023117 ]]

In [27]:
print(train_y)

22     1
497    0
395    0
381    0
258    0
      ..
456    0
435    1
398    0
48     1
294    0
Name: Outcome, Length: 614, dtype: int64

In [28]:
print(test_x)

[[-0.54791859 -2.03101358 -0.67752325 ... -0.98902814 -0.42244303
  -0.95646168]
 [-0.84488505 -0.90431634 -0.36733675 ... -1.58554859  0.03057477
  -0.70119842]
 [-0.84488505 -0.65393918  0.25303625 ... -1.58554859 -0.97512475
  -0.44593516]
 ...
 [ 0.3429808   1.41167241  0.35643175 ...  1.73973564 -0.39828208
  -0.53102292]
 [-0.84488505 -0.46615631  0.04624525 ...  0.28016432 -0.99626558
  -0.95646168]
 [-0.54791859 -0.27837344 -0.05715025 ...  0.26747239 -0.47378505
  -0.61611067]]

In [29]:
print(test_y)

680    0
607    0
639    0
638    1
295    0
      ..
526    0
685    0
391    1
654    0
315    0
Name: Outcome, Length: 154, dtype: int64

# Training the model

In [30]:
from sklearn import svm

In [31]:
classifier=svm.SVC(kernel="linear")

In [32]:
classifier.fit(train_x,train_y)

SVC(kernel='linear')

# Prediction

In [33]:
train_x_pred=classifier.predict(train_x)  # already trained data
test_x_pred=classifier.predict(test_x)

# Accuracy score

In [34]:
from sklearn.metrics import accuracy_score

In [35]:
training_data_accuracy=accuracy_score(train_x_pred,train_y)
testing_data_accuracy=accuracy_score(test_x_pred,test_y)
print("Accuracy score of training data is : ",training_data_accuracy)
print("Accuracy score of test data is : ",testing_data_accuracy)

Accuracy score of training data is :  0.7801302931596091
Accuracy score of test data is :  0.7792207792207793

In [36]:
# we can shortly predict and got score same
classifier.predict(test_x)

array([0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0],
      dtype=int64)

In [37]:
test_y

680    0
607    0
639    0
638    1
295    0
      ..
526    0
685    0
391    1
654    0
315    0
Name: Outcome, Length: 154, dtype: int64

In [38]:
classifier.score(test_x,test_y)

0.7792207792207793

# Making a Predictive System

In [39]:
input_data=(0,148,102,25,650,33.6,0.627,40)
import numpy as np
input_as_array=np.asarray(input_data).reshape(1,-1)
standard_data=scaler.transform(input_as_array)
print(standard_data)
prediction=classifier.predict(standard_data)
print(prediction)
if prediction[0]==0:
    print("The person has not Diabetes")
else:
    print("The person has Diabetes")

[[-1.14185152  0.84832379  1.70057325  0.27998931  4.95099178  0.20401277
   0.46849198  0.57511787]]
[0]
The person has not Diabetes